In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import sys
sys.path.append('..')

In [4]:
from source.data.mediasportif import get_matchs_data_from_url

In [68]:
url = "https://www.mediasportif.fr/2018/06/15/coupe-du-monde-2018-toutes-les-audiences-de-la-competition-en-france/"
game_ratings_2018_df = get_matchs_data_from_url(url)

In [70]:
game_ratings_2018_df.loc[
    (game_ratings_2018_df.team_1 == "France")
    | (game_ratings_2018_df.team_2 == "France")
]

,date,day_of_week,day,month,year,game_type,hour,team_1,team_2,ratings
2,2018-06-16,SAMEDI,16,JUIN,2018,POULE,12h,France,Australie,12590000
8,2018-06-21,JEUDI,21,JUIN,2018,POULE,17h,France,Pérou,10720000
13,2018-06-26,MARDI,26,JUIN,2018,POULE,16h,Danemark,France,8670000
17,2018-06-30,SAMEDI,30,JUIN,2018,HUITIÈMES DE FINALE,16h,France,Argentine,13595000
23,2018-07-06,VENDREDI,06,JUILLET,2018,QUARTS DE FINALE,16h,Uruguay,France,12880000
26,2018-07-10,MARDI,10,JUILLET,2018,DEMI-FINALE,20h,France,Belgique,20178000
29,2018-07-15,DIMANCHE,15,JUILLET,2018,FINALE,17h,France,Croatie,19340000

In [72]:
url = "https://www.mediasportif.fr/2022/11/21/30655/"
game_ratings_2022_df = get_matchs_data_from_url(url)

In [73]:
game_ratings_2022_df.loc[
    (game_ratings_2022_df.team_1 == "FRANCE")
    | (game_ratings_2022_df.team_2 == "FRANCE")
]

,date,day_of_week,day,month,year,game_type,hour,team_1,team_2,ratings
2,2022-11-22,MARDI,22,NOVEMBRE,2022,POULE,20h,FRANCE,Australie,13109000
6,2022-11-26,SAMEDI,26,NOVEMBRE,2022,POULE,17h,FRANCE,Danemark,11590000
12,2022-11-30,MERCREDI,30,NOVEMBRE,2022,POULE,16h,Tunisie,FRANCE,8838000
17,2022-12-04,DIMANCHE,04,DECEMBRE,2022,HUITIÈMES DE FINALE,16h,FRANCE,Pologne,14324000